{
  //
  // NOTE: BABEL_DISABLE_CACHE=1 otherwise cached.
  // http://babeljs.io/docs/usage/babelrc
  // http://babeljs.io/docs/usage/options
  //

  "presets": [
//  "env",
    "es2015",
    "stage-0"
  ],

  "plugins": [

    // http://babeljs.io/docs/plugins/transform-async-to-generator
    "transform-async-to-generator",

    // http://www.npmjs.com/package/babel-plugin-inline-import
    "babel-plugin-inline-import"
  ]
}
