//
// Copyright 2017 Alien Labs.
//

body {
  margin: 0;
  font-family: Roboto, Ariel, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  margin: 0;
}

a {
  color: darkblue;
  font-weight: 100;
  text-decoration: none;
}

//
// Lib
//

.orb-root {
  display: flex;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  overflow: hidden;
}

.orb-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.orb-x-panel {
  .orb-panel;

  flex-direction: row;
}

.orb-expand {
  flex-grow: 1;
}

//
// App-specific.
//

.app-list {
  width: 200px;
}
