//
// Copyright 2017 Alien Labs.
//

body {
  margin: 0;
  font-family: Roboto, Ariel, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  margin: 0;
}

a {
  color: darkblue;
  font-weight: 100;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: #BBB;
}
button:hover {
  background-color: #DDD;
}
button:active {
  background-color: #AAA;
}

input, textarea {
  outline: none;
}

//
// Lib
//

#orb-root {
  display: flex;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  overflow: hidden;
}

.orb-panel {
  display: flex;
  flex-direction: column;
}

.orb-x-panel {
  display: flex;
  flex-direction: row;
}

.orb-expand {
  flex-grow: 1;
}

.orb-toolbar {
  display: flex;
  flex-shrink: 0;
  background-color: #CCC;
  line-height: 0;
}

//
// App-specific.
//

@ux-scrollbar-width:        4px;
@ux-scrollbar-height:       8px;
@ux-scrollbar-color:        #666;
@ux-scrollbar-background:   transparent;

.app-sidebar {
  width: 200px;

  background-color: #6cc38f;
}

.app-list {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: @ux-scrollbar-width;
    height: @ux-scrollbar-height;
    background-color: @ux-scrollbar-background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @ux-scrollbar-color;
  }

  div {
    padding: 12px;
    font-size: large;
    cursor: pointer;
  }
  div:hover {
    background-color: lightgreen;
  }
}

.app-status-bar {
  text-align: center;
  padding: 2px;
  color: #aab7b8;
  background-color: #232f3e;
  font-size: small;
  font-weight: 100;
}
