{{#section 'body'}}
  <h1>Orbital App</h1>

  <div id="{{ appConfig.rootId }}"></div>

  <script>
    window.config = {{{ json appConfig }}};
  </script>

  <script src="{{ appBundle }}"></script>
{{/section}}
