{{#section 'body'}}
  <div>
    <header class="orb-center">
      <h1>OrbitalDB</h1>
    </header>

    <div class="orb-center">
      <a href="{{ root }}/app">App</a>
      <a href="{{ root }}/app?pollInterval=1000">Polling</a>
      <a href="{{ root }}/login/google">Login</a>
    </div>
  </div>
{{/section}}
