//
// Copyright 2017 Alien Labs.
//

.orb-graph {

  cursor: crosshair;

  g.orb-node {

    circle {
      fill: lightgray;

      &.orb-active {
        stroke: darkblue;
        stroke-width: 2px;
      }

      &.orb-selected {
        fill: lightskyblue;
      }

      &.orb-drag {
        fill: white;
        stroke: darkblue;
        stroke-width: 2px;
      }
    }

    text {
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: normal;
      stroke-width: .1;
      font-size: 12px;
    }
  }

  line {
    stroke: darkblue;
    stroke-width: 1px;
  }
}
