//
// Copyright 2017 Alien Labs.
//

.orb-graph {

  cursor: crosshair;

  circle.orb-node {
    fill: lightgray;

    &.orb-active {
      stroke: darkblue;
      stroke-width: 2px;
    }

    &.orb-selected {
      fill: lightskyblue;
    }
  }

  circle.orb-drag {
    fill: white;
    stroke: darkblue;
    stroke-width: 2px;
  }

  line {
    stroke: darkblue;
    stroke-width: 1px;
  }

  text {
    stroke: #323232;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 14px;
  }
}
