body {
  margin: 0;
  font-family: Roboto, Ariel, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  margin: 0;
}

a {
  color: darkblue;
  font-weight: 100;
  text-decoration: none;
}
